:root {
  --menu-container-background-color: var(--color-a-cold-gray-150);
  --menu-container-header-background-color: var(--color-a-cold-blue-100);
  --menu-container-header-text-color: var(--color-a-cold-gray-600);
  --border-color: var(--color-a-cold-gray-400);
  --header-icon-background-color: var(--color-a-cold-gray-500);
  --primary-color: #388BFF;
  --outline-color: #2055cd;
  --error-color: #FF7081;
  --success-color: #9CD086;
  --text-color: var(--color-a-cold-gray-900);
  --short-name-background-color: var(--color-a-cold-gray-600);
  --short-name-text-color: var(--color-a-cold-gray-1000);
  --footer-button-background-color: #940011;
  --footer-button-text-color: var(--color-a-cold-gray-1000);
  --component-primary-text-color: var(--color-a-cold-gray-900);
  --input-text-color: var(--color-a-cold-gray-800);
  --column-text-color: var(--color-a-cold-gray-1000);
  --input-background-color: var(--color-a-cold-gray-1000);
}

.dark {
  --menu-container-background-color: #161A1D;
  --menu-container-header-background-color: #22272B;
  --color-a-cold-gray-600: #ffffff;
  --color-a-cold-gray-400: #ffffff;
  --color-a-cold-gray-800: #ffffff;
  --text-color: #fff;
  --menu-container-header-text-color: #FFFFFF;
  --circle-background-color: #3B444B;
  --input-background-color: #22272B;
  --border-color: #2D363C;
  --component-primary-text-color: #eee;
  --input-background-color: #22272B;
}

.dark img {
  filter: contrast(50%) brightness(300%);
}

.dark .menu-container__content-block-container__block-content__row__input input::placeholder {
  color: #999 !important;
}

.dark .menu-container__content-block-container__block-content__background-color {
  opacity: 0.13;
}

.menu-container {
  font-family: "Sana-Sans-Alt", sans-serif;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  max-width: 440px;
  min-height: calc(100% - 24px);
  box-sizing: border-box;
  background-color: var(--menu-container-background-color);
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  background-image: url(./../nomenklatura_bg.svg);
  background-position: center;
  background-repeat: no-repeat;
  margin: 12px auto;
  color: var(--text-color);
}

.menu-container__header {
  background-color: var(--menu-container-header-background-color);
  width: 100%;
  text-align: center;
  padding: 6px 0;
  font-size: 17px;
  font-weight: bold;
  color: var(--menu-container-header-text-color);
  border-radius: 8px 8px 0 0;
}

.menu-container__content {
  padding: 12px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* Style do poszczególnych modułów */

.menu-container__content-header-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  position: relative;
  margin-top: 6px;
  background-color: var(--input-background-color);
}

.menu-container__content-header-container-row {
  display: grid;
  grid-template-columns: 80px 1fr 50px;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 8px;
  border-bottom: 1px solid var(--border-color);
}

.menu-container__content-header-container-row:last-child {
  border-bottom: none !important;
}

.menu-container__content-header-container-row-chart {
  width: 100%;
  height: 8px;
  border-radius: 4px;
  background-color: var(--border-color);
}

.menu-container__content-header-container-row-chart-line {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.menu-container__content-header-container-row-value {
  text-align: right;
}

.menu-container__content-header-container-head-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 8px;
  border-bottom: 1px solid var(--border-color);
}

.menu-container__content-header-container-head-row > div {
  text-align: center;
}

.menu-container__content-header-container-table-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  width: 100%;
}

.menu-container__content-header-container-table-row:last-child {
  border-bottom: none !important;
}

.menu-container__content-header-container-table-row > div {
  text-align: center;
  padding: 4px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.error-color {
  color: var(--error-color);
}

.success-color {
  color: var(--success-color);
}