:root {
  --menu-container-background-color: var(--color-a-cold-gray-150);
  --menu-container-header-background-color: var(--color-a-cold-blue-100);
  --menu-container-header-text-color: var(--color-a-cold-gray-600);
  --border-color: var(--color-a-cold-gray-400);
  --header-icon-background-color: var(--color-a-cold-gray-500);
  --primary-color: #388BFF;
  --outline-color: #2055cd;
  --error-color: #e0001a;
  --success-color: #19cd89;
  --text-color: var(--color-a-cold-gray-900);
  --short-name-background-color: var(--color-a-cold-gray-600);
  --short-name-text-color: var(--color-a-cold-gray-1000);
  --footer-button-background-color: #940011;
  --footer-button-text-color: var(--color-a-cold-gray-1000);
  --component-primary-text-color: var(--color-a-cold-gray-900);
  --input-text-color: var(--color-a-cold-gray-800);
  --column-text-color: var(--color-a-cold-gray-1000);
  --input-background-color: var(--color-a-cold-gray-1000);
  --circle-background-color: var(--color-a-cold-gray-500);
}

.dark {
  --menu-container-background-color: #161A1D;
  --menu-container-header-background-color: #22272B;
  --color-a-cold-gray-600: #ffffff;
  --color-a-cold-gray-400: #ffffff;
  --color-a-cold-gray-800: #ffffff;
  --text-color: #fff;
  --menu-container-header-text-color: #FFFFFF;
  --circle-background-color: #3B444B;
  --input-background-color: #22272B;
  --border-color: #2D363C;
  --component-primary-text-color: #eee;
  --input-background-color: #22272B;
}

.dark img {
  filter: contrast(50%) brightness(300%);
}

.menu-container {
  font-family: "Sana-Sans-Alt", sans-serif;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  max-width: 440px;
  min-height: calc(100% - 24px);
  box-sizing: border-box;
  background-color: var(--menu-container-background-color);
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  background-image: url(./../nomenklatura_bg.svg);
  background-position: center;
  background-repeat: no-repeat;
  margin: 12px auto;
}

.menu-container__header {
  background-color: var(--menu-container-header-background-color);
  width: 100%;
  text-align: center;
  padding: 6px 0;
  font-size: 17px;
  font-weight: bold;
  color: var(--menu-container-header-text-color);
  border-radius: 8px 8px 0 0;
  position: relative;
}

.menu-container__content {
  padding: 12px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 12px;
}

/* Style do poszczególnych modułów */
.menu-container__content-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.menu-container__content-list-item {
  display: flex;
  border-radius: 8px;
  background-color: var(--input-background-color);
  border: 1px solid var(--border-color);
  padding: 12px;
  gap: 12px;
  align-items: center;
  color: var(--text-color);
}

.menu-container__content-list-item > div {
  flex: 1;
}

.menu-container__content-list-item-avatar {
  background-color: var(--circle-background-color);
  border-radius: 8px;
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  font-size: 14px;
  font-weight: bold;
  color: var(--short-name-text-color);
  flex: unset !important;
}

.menu-container__content-list-item-info-big, .menu-container__content-list-item-extra-info-before {
  font-size: 14px;
  font-weight: 600;
  color: var(--color-a-cold-gray-800);
}

.menu-container__content-list-item-info-small, .menu-container__content-list-item-extra-info-after {
  font-size: 12px;
  color: var(--color-a-cold-gray-600);
}
.menu-container__content-list-item-extra-info {
  display: flex;
  gap: 8px;
  flex: unset !important;
  align-items: center;
}

.menu-container__content-list-item-extra-info > div {
  flex: 1;
}

.menu-container__content-list-item-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu-container__content-list-item-header-number {
  font-weight: bold;
  font-size: 16px;
}

.menu-container__content-list-item-header-link {
  font-size: 12px;
  background-color: var(--circle-background-color);
  border-radius: 8px;
  padding: 5px 8px;
  color: var(--color-a-cold-gray-1000);
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.extra-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: unset !important;
}

.extra-info > div {
  flex: 1;
}


.menu-container__header-button {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background-color: var(--circle-background-color);
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}