:root {
  --header-icon-background-color: var(--color-a-cold-gray-500);
  --primary-color: #e0001a;
  --outline-color: #2055cd;
  --error-color: #e0001a;
  --success-color: #00702c;
  --text-color: var(--color-a-cold-gray-900);
  --circle-background-color: var(--color-a-cold-gray-500);
  --circle-text-color: var(--color-a-cold-gray-1000);
  --border-color: var(--color-a-cold-gray-400);
}

.dark {
  --menu-container-background-color: #1a1a1a;
  --menu-container-header-background-color: #032949;
  --color-a-cold-gray-600: #ffffff;
  --color-a-cold-gray-400: #ffffff;
  --color-a-cold-gray-800: #ffffff;
  --text-color: var(--color-a-cold-gray-1000);
}

.menu-container {
  font-family: "Sana-Sans-Alt", sans-serif;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  max-width: 440px;
  min-height: calc(100% - 24px);
  box-sizing: border-box;
  background-color: var(--menu-container-background-color);
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  background-image: url(./../nomenklatura_bg?.svg);
  background-position: center;
  background-repeat: no-repeat;
  margin: 12px auto;
}

.menu-container__header {
  background-color: var(--menu-container-header-background-color);
  width: 100%;
  text-align: center;
  padding: 6px 0;
  font-size: 17px;
  font-weight: bold;
  color: var(--color-a-cold-gray-600);
  border-radius: 8px 8px 0 0;
}

.menu-container__content {
  padding: 12px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* Style do poszczególnych modułów */

.menu-container__content-list-items {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.menu-container__content-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--circle-background-color);
  color: var(--circle-text-color);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.menu-container__content-list-item:hover,
.list-item-active {
  background-color: var(--primary-color);
  transform: translateY(-4px);
}

.menu-container__content-input-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  position: relative;
  margin-top: 12px;
}

.menu-container__content-input {
  width: 100%;
  height: 32px;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  padding: 0 12px;
}

.menu-container__content-input-wrapper img {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.menu-container__content_hierarchy-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 12px;
  color: var(--color-a-cold-gray-700);
}

.menu-container__content_hierarchy-list-item {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 4px;
}

.menu-container__content_hierarchy-list-item-circle {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 1px solid var(--outline-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-container__content-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 12px;
  background-color: var(--border-color);
  color: var(--color-a-cold-gray-600);
  border-radius: 8px;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  border: none;
  position: relative;
}

.menu-container__content-button img {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.item_checkbox {
  appearance: none;
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  border: 1px solid var(--color-a-cold-gray-400);
  border-radius: 6px;
  cursor: pointer;
  position: relative;
}

.item_checkbox:focus {
  outline: 1px solid var(--outline-color);
}

.item_checkbox:checked {
  background-color: var(--primary-color);
}

.item_checkbox:checked::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  background-image: url("./../check.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.menu-container__content_hierarchy-list-item-dnd {
  width: 12px;
}

.menu-container__content_hierarchy-list-item-text {
  flex: 1;
}
